.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 0 1 32%;
}

.card {
  background: #fff;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  min-width: 100%;
  padding: 10px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.card .image img {
  width: 100%;
  height: auto;
}

.card article {
  padding: 20px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card article p {
  flex: 1;
}

.card article .bottom {
  flex: 0;
}
