.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 0 1 32%;
}

.card {
  background: #fff;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  min-width: 100%;
  width: 100%;
  height: 100%;
  padding: 0.75rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
}

.card .image img {
  width: 100%;
  height: auto;
}

.card article {
  padding: 40px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card article p {
  padding: 40px;
  width: 50%;
  flex: 1;
}

.round {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 10px;

  border: 1px solid;
  /* Firefox 1-3.6 */
  -moz-border-radius: 10px;

  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 10px;
}
.card article .bottom {
  flex: 0;
}

.contenido {
  background-color: #f4f4f4;
}
