<ng-container *ngIf="colorCopy">
  <app-color-grid
    [dataColors]="dataColores"
    (copiar)="copiado($event)"
  ></app-color-grid>
</ng-container>

<app-paginacion-grid-color
  [dataColors]="navegarPagina"
  [pagesTotal]="totalPages"
  (navegacion)="paginacionChange($event)"
  (copiar)="copiado($event)"
></app-paginacion-grid-color>

<ng-container *ngIf="!colorCopy">
  <app-color-copy></app-color-copy>
</ng-container>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="default"
  color="#fff"
  type="timer"
  [fullScreen]="true"
>
  <p style="color: white;">Loading...</p>
</ngx-spinner>
