<div class="container-fluid footer">
  <div class="row">
    <div class="col-12  text-center" role="alert">
      <div class="row border-footer">
        <div class="col-6 text-sm-left mt-2 mb-2">
          <a
            style="cursor: pointer; color: black"
            (click)="changePage('anterior')"
            >< Anterior
          </a>
        </div>
        <div class="col-6 text-sm-right mt-2 mb-2">
          <a
            style="cursor: pointer; color: black"
            (click)="changePage('siguiente')"
            >Siguiente >
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
